.colaborador {
    width: 280px;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
}

.colaborador .cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

.colaborador img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: -60px;
    border: 3px solid #ffffff; 
    object-fit: cover; 
}

.colaborador .rodape {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
    border-radius: 0 0 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 16px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
    margin: 0;
}