.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 18px 0;
}