.Formulario {
    display: flex;
    justify-content: center;
    margin: 36px 64px;

}

.Formulario form {
    max-width: 80%;
    border-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.9);
}